
@font-face {
    font-family: 'mi-regular';
    src: url('fonts/Mikhak-DS1-Medium.woff2') format('woff2'),
    }

@font-face {
    font-family: 'mi-black';
    src: url('fonts/Mikhak-Black.woff2') format('woff2'),
    }



body {
    font-family: mi-regular, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; 
}

  header {
    background-color: #4CAF50; 
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh; 
  }
  
  .container,
  .additional-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 70%; 
    max-width: 400px; 
    margin-bottom: 20px;
    margin-top: 20px; 
    direction: rtl; 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    font-family: mi-regular, sans-serif;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: mi-regular, sans-serif;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

  /* LOADING  */
  #blurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('background-image.jpg') center/cover fixed no-repeat; تصویر پس‌زمینه */
    filter: blur(8px); /* افکت blur */
    z-index: 1;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loader 1.5s linear infinite;
    margin: -25px 0 0 -25px; /* تنظیم مرکز */
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8); /* پس‌زمینه شفاف */
    padding: 20px; /* فاصله دور loader */
  }

  .hidden {
    display: none;
  }

  /* TOAST */
  .toast {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


progress {
    width: 100%;
    height: 10px;
    margin-top: 10px;
}


/* ANIMATION  */
.animate-go {
    position: relative;
    animation: goLeftAndDisappear 5s forwards;
}

@keyframes goLeftAndDisappear {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: -100%; 
        opacity: 0;   
    }
}


.animate-go-right {
    position: relative;
    animation: goRightAndDisappear 5s forwards;
}

@keyframes goRightAndDisappear {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 100%;  
        opacity: 0;   
    }
}


/* CONTAINER INFO */

.container#info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 400px;
    direction: rtl;
    text-align: center;
    margin: auto;
    margin-top: 80px;
}


/* QUIZ CONTAINER */



.green-button {
    background-color: #4CAF50;
    color: #fff;
}

.red-button {
    background-color: #FF5733;
    color: #fff;
}

button:hover {
    opacity: 0.8;
}

#timer{
    text-align: center;
    font-size: 90px;
}


/* FIXED BUTTON */

.blue-circle-button {
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 16px;
}

.fixed-button {
    position: fixed;
    bottom: 80px;
    left: 20px;
}
